@charset "utf-8";

* { /* reset all */
  margin: 0;
  padding: 0;
  border: none;
  border-width: 0;
  color: black;
}

html {
  background-color: #E9E9E9;
  background-image: url('images/bckg.jpg'); /* iso-grid */
}

body {
  font-family: Verdana, Tahoma, Arial;
  font-size: 90%;
  text-align: left;
  color: black;
}

h1 {
  font-size: 200%;
  margin: 1em 0 1em 0;
}

h2 {
  font-size: 120%;
  margin: 0.7em 0 0.7em 0;
}

h3 {
  font-size: 100%;
  margin: 0.5em 0 0.5em 0;
}

p { /* common for all paragraphs */
  margin: 1em 0 1em 0; /* text flow - top & bottom, sides are left for manipulation */
  text-align: justify;
}

strong {
  font-size: 125%;
}

span[title] {
  border-bottom: 1px dashed #AAAAAA;
  cursor: help;
}

dt {
  font-weight: bold;
  margin-top: 1.5em;
}

dd {
  padding-left: 1em;
}

a {
  font-weight: bold;
  color: #50608E;
  text-decoration: none;
}
a:hover {
  color: #152560;
  text-decoration: underline;
}

img#biglogo {
  float: left;
  position: relative;
  top: -0.5em;
  margin: 1em 1em 1em 0;
}

header {
  overflow: hidden;
  margin: 0 2% 2em 2%;
  display: block;
}

header p {
  margin: 2em;
}

p#download {
  text-align: center;
  margin: 2em 2em 5em 2em;
  display: block;
  clear: left;
  float: none;
  max-width: none;
}

div#content {
  width: 100%;
  position: relative;
  overflow: visible;
  /* children with absolute position will be calculated WITHIN this block! */
}

footer {
  background: #CCCCCC;
  width: 100%;
  padding-top: 1em; /* this hides the uneven botom ends of side bars */
  padding-bottom: 1em;
  position: relative;
  margin: 0;
  display: block;
}

section { /* common class for "tabs" */
  background: transparent url('images/divback.png') no-repeat top left;
  margin: 0 2% 0 2%;
  padding-bottom: 2em;
  height: 100%;
  overflow: visible;
  top: 0;
  display: block;
}

section#info {
  width: 56%;
}

section#news {
  width: 40%;
  position: absolute;
  left: 56%;
}

section#votd {
  display: none;
  position: absolute;
}

section p, section dl, section h2, section h3,
section img#votd-main-illustration {
  /* items in "tabs" */
  padding-left: 76px; /* because of bg image size */
  padding-right: 1em; /* just some space */
}

section#votd img#reloader {
  position: absolute;
  right: 0; top: 1em;
  cursor: pointer;
  margin-left: 1em;
}

footer * {
  color: #808080;
}

footer p {
  text-align: center;
  font-size: 75%;
  padding: 0 1em 0 1em; /* nothing vertically - done by parent */
  margin-bottom: 0; /* don't push empty space below */
}

em {
  text-decoration: none;
  font-style: normal;
  font-weight: bold;
}

footer a {
  color: #7586B7;
}

footer p#votd_disabled {
  color: #C08080;
}

.mobileonly {
  display: none;
}

#info p, .wide header p {
  max-width: 40em;
}

.wide section#info {
  width: 44% !important;
}

.wide section#news {
  width: 30% !important;
  left: 44% !important;
}

.wide section#votd {
  width: 22% !important;
  display: block !important;
  left: 74% !important;
}

.wide header p {
  /*max-width: 40em;*/
  width: 30%;
  float: left;
  margin: 2em 2em 1em 2em;
}

/* EOF */